menu "Jolicloud Supplied Third-Party Device Drivers"

source "jolicloud/asus_eee/Kconfig"
source "jolicloud/broadcom/Kconfig"
source "jolicloud/psb/Kconfig"
source "jolicloud/via_chrome9/Kconfig"
source "jolicloud/rtl8192se/Kconfig"

endmenu
